# Ignore composer dependencies
/vendor/

# Ignore build artifacts
/build/
/dist/

# Ignore phpunit cache
/.phpunit

# Ignore environment-specific files
.env
.env.*

# Ignore IDE and editor-specific files
.idea/
.vscode/
*.sublime-project
*.sublime-workspace
*.swo
*.swp
