<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd" cacheDirectory=".phpunit"
    cacheResult="true" cacheResultFile=".phpunit-cache" beStrictAboutOutputDuringTests="true"
    failOnWarning="true" failOnEmptyTestSuite="true" failOnRisky="true">

    <testsuites>
        <testsuite name="Section Unit">
            <file>tests/SectionTest.php</file>
        </testsuite>
        <testsuite name="FileHandler Unit">
            <file>tests/FileHandlerTest.php</file>
            <exclude>tests/nuri/</exclude>
        </testsuite>
        <testsuite name="Package Test">
            <file>tests/NuriTest.php</file>
            <exclude>tests/nuri/</exclude>
        </testsuite>
    </testsuites>

</phpunit>
